.components {
    margin-bottom: 50px;
}

.components__title__wrapper {
    width: 90%;
    margin: 0 auto;
}

.components__title {
    margin-top: 50px;

    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.86;
    letter-spacing: 1.4px;
}

.components__main-title {
    margin-top: 20px;

    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.24;
    letter-spacing: normal;
}

@media (min-width: $tablet-width) {
    .components__title {
        font-size: 14px;
    }

    .components__main-title {
        font-size: 42px;
        font-weight: 300;
    }
}

@media (min-width: $desktop-width) {
    .components {
        margin-top: 111px;
    }

    .components__title__wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .components__title {
        margin-bottom: 25px;
    }

    .components__main-title {
        margin-bottom: 76px;

        letter-spacing: -0.5px;
    }
}