.page-main__header {
    height: 450px;
    background-image: url(../../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-main {
    margin-top: -40px;
}

.page-main__title {
    margin-top: 40px;
}

.page-main__nav {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.page-main__nav__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.page-main__nav__link {
    display: block;
    margin-top: 10px;

    color: #222328;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        opacity: 0.5;
    }
}

.page-main__links {
    padding-bottom: 30px;

    background-color: #141414;
}

.page-main__links__list {
    margin: 0;
    padding: 0;
    padding: 20px;

    list-style: none;
}

.page-main__links__item {
    margin-bottom: 5px;
}

.page-main__links__link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        transition: none;
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .page-main__header {
        height: 750px;
        margin-top: -130px;

        background-position: center;
    }

    .page-main__nav {
        display: flex;
        justify-content: space-between;

        max-width: 1170px;
    }

    .page-main__nav__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        max-width: 357px;
    }

    .page-main__links {
        width: 100%;
    }

    .page-main__links__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
        max-width: 800px;
    }

    .page-main__links__item {
        text-align: center;
    }
}

@media (min-width: $desktop-width) {
    .page-main__header {
        height: 934px;
    }

    .page-main__nav {
        margin-top: 18px;
        margin-bottom: 28px;
    }
}