.page-main__header {
    height: 400px;
    background-image: url(../../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-main {
    margin-top: -40px;
}

.page-main__title {
    margin-top: 40px;
}

.page-main__nav {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.page-main__nav__list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.page-main__nav__link {
    display: block;
    margin-top: 10px;

    color: #222328;
    font-size: 14px;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        opacity: 0.5;
    }
}

.page-main__links {
    padding-bottom: 30px;

    background-color: #141414;
}

.page-main__links__list {
    margin: 0;
    padding: 0;
    padding: 20px;

    list-style: none;
}

.page-main__links__item {
    margin-bottom: 5px;
}

.page-main__links__link {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        opacity: 0.5;
    }

    &:active {
        transition: none;
        opacity: 0.3;
    }
}