.site-list__item {
    margin-bottom: 5px;
}

.site-list__link {
    display: block;

    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    text-align: right;
    text-decoration: none;

    transition: 0.2s ease-out;

    &:hover {
        color: #ffffff;
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        width: 100%;
        max-width: 305px;
        height: 100%;
        margin-left: 25px;
    }

    .site-list__link {
        font-size: 24px;
    }
}